#customer-table {
    position: relative;
}

#btn-export-table {
    position: absolute;
    top: 36px;
    border-radius: 5px;
    border: 2px solid #c46b6b8c;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

#btn-export-table:hover {
    background-color: #c46b6b8c;
    color: #fff;
}

#btn-get-excel {
    margin-left: 28px;
}
